
// COLORS:
// Light green: #7ed56f
// Medium green: #55c57a
// Dark green: #28b485

$color_primary: #7ed56f;
$color_primary_light: #55c57a;
$color_primary_dark: #28b485;

$color_grey: #777;
$color_white: #fff;
$color_black: #000;