
// COLORS:
$color_primary: #7ed56f;
$color_primary_light: #55c57a;
$color_primary_dark: #28b485;
$color_grey_light_1: #f7f7f7;
$color_grey_light_2: #cecccc;


$color_secondary-light: #ffb900;
$color_secondary-dark: #ff7730;

$color_tertiary-light: #2998ff;
$color_tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color_grey_dark-1: #999;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color_grey: #777;
$color_white: #fff;
$color_black: #000;

//FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//box-shadow
$box-shadow-light:0 1rem 3rem rgba($color_black,.1)