  .overview-box {
    background-color: $color_grey_light_2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex: 0 1 50%;
    padding: 12rem 0;

    @include respond(phone){
      padding: 10rem 0;
      flex: none;
    }

    &__group:not(:last-child) {
      margin-bottom: 2rem;
    }
    &__detail {
      font-size: 1.5rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-weight: 400;
    }
    &__detail svg {
      margin-right: 1.25rem;
    }
    &__detail:not(:last-child) {
      margin-bottom: 2.25rem;
    }
    &__icon {
      height: 2.25rem;
      width: 2.25rem;
      fill: #55c57a;
    }
    &__label {
      font-weight: 700;
      margin-right: 2.25rem;
      text-transform: uppercase;
      font-size: 1.4rem;
    }
    &__text {
      text-transform: capitalize;
    }
    &__img {
      border-radius: 50%;
      height: 3.5rem;
      margin-right: 1.25rem;
    }
  }


  .description-box {
  padding: 12rem 12rem;
  flex: 0 0 50%;
    @include respond(phone){
      padding: 0rem 4rem 10rem 4rem;
      flex: none;
    }
  
  }
  .description-box .description__text {
    font-size: 1.7rem;
  }
  .description-box .description__text:not(:last-child) {
    margin-bottom: 2rem;
  }