.u-center-text{text-align: center !important;}
.u-margen-bottom-big{
    margin-bottom: 8rem !important;

    @include respond(tab_port){ 
        margin-bottom: 5rem !important;
    }
}
.u-margen-bottom-medium{
    margin-bottom: 4rem !important;

    @include respond(tab_port){ 
        margin-bottom: 3rem !important; 
    }
}
.u-margen-bottom-small{margin-bottom: 1.5rem !important;}

.u-margen-top-medium{margin-top: 0 !important;}

.u-margen-top-big{margin-top: 8rem !important;}
.u-margen-top-huge{margin-top: 10rem !important;}