.section-about{
    background-color: $color_grey_light_1;
    padding: 15rem 0 20rem 0;
    margin-top: -20vh;

    @include respond(tab_port){ 
        padding: 25rem 0;
    }
}
.section-features{
    padding: 5rem 0 10rem 0;
    background-image: linear-gradient(to right bottom,rgba($color_primary_light, 0.8),rgba($color_primary_dark, 0.8)),url("../img/nat-4.jpg");
    transform:skewY(-7deg);
    margin-top: -10rem;

    & > * {
        transform:skewY(7deg)
        
    }
    @include respond(tab_port){ 
        padding: 10rem 0;
    }
}
.section__tours{
    background-color: $color_grey_light_1;
    padding: 15rem 0 10rem 0;
    // transform:skewY(-7deg);
    margin-top: -10rem;
    // & > * {
    //     transform:skewY(7deg)
    // }
    @include respond(tab_port){ 
        padding: 20rem 0 10rem 0;
    }
}
.section-stories{
    position: relative;
    padding: 5rem 0;
    @include respond(tab_port){ 
        padding: 10rem 0;
    }
    
}

.section-book{
    padding: 10rem 0rem;
    background-image: linear-gradient(to right bottom,$color_primary,$color_primary_dark);
}

.book {
    background-image: linear-gradient(105deg,
    rgba($color-white,.9) 0%,
    rgba($color-white,.9) 50%,
    transparent 50% ) 
    ,url(../img/nat-10.jpg);
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black,.2);

    @include respond(tab_land){ 
        background-image: linear-gradient(105deg,
        rgba($color-white,.9) 0%,
        rgba($color-white,.9) 65%,
        transparent 65% ) 
        ,url(../img/nat-10.jpg);
        background-size: cover;
    }
    @include respond(tab_port){ 
        background-image: linear-gradient(to right,
        rgba($color-white,.9) 0%,
        rgba($color-white,.9) 100%) 
        ,url(../img/nat-10.jpg);
    }

    &__form{
        width: 50%;
        padding: 6rem;
        @include respond(tab_land){
            width: 65%;
        }
        @include respond(tab_port){
            width: 100%;
        }
        
    }
}

.main {
    background-color: #f7f7f7;
    padding: 8rem 6rem;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
}
 
.section-header {
    position: relative;
    height: 38vw;
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - var(--section-rotate)),
      0 100%
    );
    -webkit-clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - var(--section-rotate)),
      0 100%
    );
  }

.section-description {
    background-color: #fcfcfc;
    margin-top: calc(0px - 9vw);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    @include respond(tab_port){
      margin-top: -10rem;
      display: inline-block;
    }
  }
  
.section-pictures {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    clip-path: polygon(
      0 9vw,
      100% 0,
      100% calc(100% - 9vw),
      0 100%
    );
    -webkit-clip-path: polygon(
      0 9vw,
      100% 0,
      100% calc(100% - 9vw),
      0 100%
    );
    margin-top: calc(0px - 9vw);
    position: relative;
    z-index: 1000;
  }
.section-map {
    position: relative;
    height: 65rem;
    margin-top: calc(0px - 9vw);
  }

.section-reviews {
    margin-top: calc(0px - 9vw);
    padding: calc(2rem + 9vw) 0;
    position: relative;
    z-index: 1000;
    background: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from(#7dd56f),
      to(#28b487)
    );
    background: linear-gradient(to right bottom, #7dd56f, #28b487);
    clip-path: polygon(
      0 9vw,
      100% 0,
      100% calc(100% - 9vw),
      0 100%
    );
    -webkit-clip-path: polygon(
      0 9vw,
      100% 0,
      100% calc(100% - 9vw),
      0 100%
    );
}
.section-cta {
    margin-top: calc(0px - 12vw);
    padding: 10rem;
    padding-bottom: 11rem;
    padding-top: calc(15rem + 9vw);
    background-color: #f7f7f7;

    @include respond(tab_port){
      padding: 16rem 4rem 8rem 4re;
    }
}
  


  