.section-about{
    background-color: $color_grey_light_1;
    padding: 10rem 0 20rem 0;
    margin-top: -20vh;
}
.section-features{
    padding: 18rem 0 18rem 0;
    background-image: linear-gradient(to right bottom,rgba($color_primary_light, 0.8),rgba($color_primary_dark, 0.8)),url("../img/nat-4.jpg");
    transform:skewY(-7deg);
    margin-top: -10rem;

    & > * {
        transform:skewY(7deg)
    }
}
.section__tours{
    background-color: $color_grey_light_1;
    padding: 10rem 0 12rem 0;
    transform:skewY(-7deg);
    margin-top: -10rem;
    & > * {
        transform:skewY(7deg)
    }
}